<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' type='text/css' href='style.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>TodoList</title>
</head>
<body>

  <h1>TO-DO LIST</h1>
  <div id="todolist">
    <div class="add">
      <input class="add__input" v-model="newTask"
          @keyup.enter="add_icon" placeholder="請輸入待辦項目">
      <i @click="add_icon" class="fa fa-plus-circle fa-2x"></i>
    </div>

    <div class="wait">
      <h3>待辦項目</h3>
      <div class="wait__item" v-for="waitTask in waitTasks" v-cloak>
        <div class="wait__item__text">
          <input class="wait__item__text__input"
                v-if="!waitTask.controllModify"
                v-model="tempTask"
                @keyup.enter="closeEdit(waitTask.id, true)"
          ><p v-else @click="waitModifyIcon(waitTask.id)" >{{ waitTask.text }}</hide-text></input>
        </div>
        <div class="wait__item__icons">
          <div class="wait__item__icons__modify">
            <i @click="waitModifyIcon(waitTask.id)" v-if="waitTask.controllModify" class="fa fa-pencil"></i>
            <i @click="closeEdit(waitTask.id, false)" v-else class="fa fa-undo"></i>
          </div>
          <div class="wait__item__icons__trash">
            <i @click="waitTrashIcon(waitTask.id)" v-if="waitTask.controllModify" class="fa fa-trash-o"></i>
          </div>
          <div class="wait__item__icons__done">
            <i @click="waitDoneIcon(waitTask.id)" v-if="waitTask.controllModify" class="fa fa-check-circle"></i>
            <i @click="closeEdit(waitTask.id, true )" v-else class="fa fa-check-circle"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="done">
      <h3>完成項目</h3>
      <div class="done__item" v-for="doneTask in doneTasks" v-cloak>
        <div class="done__item__text">{{ doneTask.text }}</div>
        <div class="done__item__icons">
          <div class="done__item__icons__trash">
            <i @click="doneTrashIcon(doneTask.id)" class="fa fa-trash-o"></i>
          </div>
          <div class="done__item__icons__done">
            <i @click="doneUndoneIcon(doneTask.id)" class="fa fa-wrench"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

<script src="scripts/main.js"></script>
</html>
